<!DOCTYPE html>

<html>
<head>
	<title>Create a new chat room!</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>
<body>
	<header class="homebanner">
			<h1 class="homebannertext">
				<a href="http://localhost:8080/" id="logo">Chat<span>App</span></a>
			</h1>
	</header>

	<section>
		<div class="homesection">
			<div class="node">
				<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered web chat</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM</div>
				</div>
			</a>
		</div>
	</section>
</body>
</html>
