<!DOCTYPE html>

<html>
<head>
	<title>Create a new chat room!</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>
<body>
	<header class="banner">
			<h1 class="bannertext">
				<a href="http://localhost:8080/" id="logo">Chat<span>App</span></a>
			</h1>
	</header>

	<section class="section">
		<div class="signup">
		<img src="../img/unnamed.jpg" id="creatorImage" />
			<div class="signupConnected">
				<h2>Sign-Up</h2>
				<br/>
				<form class="signupForm">
					<input name="username" type="text" id="yourName" placeholder="Enter a username" required /><br/>
					<input name="password" type="text" id="yourEmail" placeholder="Enter an email address" required /><br/>
					<input type="submit" id="yourEnter" value="Submit" />
				</form>
			</div>
		</div>
	</section>
</body>
</html>
